# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Understand the basics of formatting in Markdown.
- Learn how to create headings, lists, and tables in Markdown.
- Practice creating and executing code cells in Jupyter Notebook.
- Perform simple arithmetic operations using Python in a code cell.
- Convert units, such as minutes to hours, using Python in a code cell.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:

* Pandas
* Numpy
* Matplotlib

| Data Science Tools      |
|:------------------------:|
| Jupyter Notebook         |
| RStudio                  |
| Visual Studio Code (VSCode)|

### Examples of Evaluating Arithmetic Expressions in Python

Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
result

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author

Florencia Ventura